<h3>
  <%= vm.name %>
  <% if vm.power_state %>
    <span class="label label-success">Running</span>
    <small>for <%= time_ago_in_words(vm.uptime) %>.</small>
  <% else %>
    <span class="label label-danger">Stopped</span>
  <% end %>
</h3>

<% if vm.tools_status %>

<div class="panel panel-default">
  <div class="panel-heading">Network interfaces</div>
  <table class="table" id="vm-details-table">
    <thead>
      <tr>
        <th>State</th>
        <th>MAC Address</th>
        <th>IP Address</th>
      </tr>
    </thead>
    <tbody>
      <% vm.nics.each do | nic | %>
        <tr>
          <% if nic.connected %>
            <td class="vm-state"><span class="label label-success">UP</span></td>
          <% else %>
            <td class="vm-state"><span class="label label-danger">DOWN</span></td>
          <% end %>
          <td><%= nic.macAddress %></td>
          <td><%= nic.ipConfig.ipAddress[0].ipAddress %>/<%= nic.ipConfig.ipAddress[0].prefixLength %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Hard drives</div>
  <div class="panel-body">
    <% vm.disks.each do | disk | %>
      <h5><%= disk.disk_path %> <small><%= disk.used_space(:gb) %> / <%= disk.capacity(:gb) %> GB</small></h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= disk.percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= disk.percent %>%;">
          <%= disk.percent %>%
        </div>
      </div>
    <% end %>
  </div>
</div>

<% else %>

<div class="panel panel-danger">
  <div class="panel-heading">Guest tools not installed</div>
  <div class="panel-body">More information will be available when the Guest Tools agent is installed.</div>
</div>

<% end %>
