<h3>
  <%= vm.name %>
  <% if vm.runtime.powerState == 'poweredOn' %>
    <span class="label label-success">Running</span>
  <% else %>
    <span class="label label-danger">Stopped</span>
  <% end %>
</h3>

<div class="panel panel-default">
  <div class="panel-heading">Network interfaces</div>
  <table class="table" id="vm-details-table">
    <thead>
      <tr>
        <th>State</th>
        <th>MAC Address</th>
        <th>IP Address</th>
      </tr>
    </thead>
    <tbody>
      <% vm.guest.net.each do | nic | %>
        <tr>
          <% if nic.connected %>
            <td class="vm-state"><span class="label label-success">UP</span></td>
          <% else %>
            <td class="vm-state"><span class="label label-danger">DOWN</span></td>
          <% end %>
          <td><%= nic.macAddress %></td>
          <td><%= nic.ipConfig.ipAddress[0].ipAddress %>/<%= nic.ipConfig.ipAddress[0].prefixLength %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Hard drives</div>
  <div class="panel-body">
    <% vm.guest.disk.each do | disk | %>
      <%
        used_space = disk.capacity - disk.freeSpace
        percent = (used_space / disk.capacity.to_f * 100).to_i
        capacity = (disk.capacity.to_f / 1024 / 1024 / 1024).round(2)
        used_space = (used_space.to_f / 1024 / 1024 / 1024).round(2)
      %>
      <h5><%= disk.diskPath %> <small><%= used_space %> / <%= capacity %> GB</small></h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%;">
          <%= percent %>%
        </div>
      </div>
    <% end %>
  </div>
</div>
